$primary-color: #000;
$secondary-color: #fff;
$third-color: rgb(185, 180, 180);
$rounded-radius: 50px;
body {
  font-family: Arial, Helvetica, sans-serif;
  color: $primary-color;
  background-color: white;
  margin: 0;
}

button:focus {
  outline: 0 !important;
}

.product-btn-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.div-btn-view {
  width: 50%;
  padding-right: 5px;
}

.div-btn-view {
  width: 50%;
}

.btn-primary {
  height: 48px;
  border-radius: $rounded-radius;
  background-color: $primary-color;
  color: white;
  cursor: pointer;
  outline: 0;
  border: 0;
}

.btn-product {
  width: 90px;
}

.btn-product-description {
  width: 200px;
  font-size: 15px;
}

.centered {
  float: none;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  align-items: center;
}



/* Image for Customer service & About us */

.imageHolder {
  display: flex;
  justify-content: center;
  align-items: center;
}

